body {
  font-family: Arial, sans-serif;
}

.split {
  max-width: 800px;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #333;
}

p {
  font-size: 1.5rem;
  color: #666;
  line-height: 1.6;
}

.char {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
}

.container {
  display: grid;
  place-content: center;
  text-align: center;
  padding-inline: 1rem;
  margin-block-end: 5rem;
}

.draggable-element {
  background: #333;
  padding: 2rem;
  border-radius: 10px;
  cursor: move;
  user-select: none;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.draggable-element h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.draggable-element p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.6;
}

.replay-btn {
  padding: 1rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  border: 2px solid #333;
  border-radius: 100vmax;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  margin-inline: auto;
  display: block;
}

.draggable-element {
  background: #000;
  padding: 2rem;
  border-radius: 10px;
  cursor: move;
  user-select: none;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.draggable-element h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  cursor: pointer;
  margin-block-end: 2rem;
  min-height: 340px;
}

.grid-item {
  background: #000;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

svg {
  width: 300px;
  height: 300px;
}
